build/
Build/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.sln
*.vcxproj
*.vcxproj.filters
*.idea/
*.vscode/

.DS_Store
Thumbs.db

*.exe
*.out
*.obj
*.o
*.a
*.lib

*.log

*.spv
